includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: 8
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Access to an undefined property Illuminate\\Testing\\TestResponse::\$original\.*#'
        - '#Parameter \#1 $subject of method Illuminate\\Notifications\\Messages\\SimpleMessage::subject() expects string, array|string given\.#'
        - '#Parameter \#1 $text of method Illuminate\\Notifications\\Messages\\SimpleMessage::action() expects string, array|string given\.#'
        - '#Method App\\Models\\DiscountCode::getBuyables() should return Illuminate\\Support\\Collection but returns App\\Models\\DiscountCode|null\.#'
    excludes_analyse:
        - ./app/Providers/RequestServiceProvider.php
    checkMissingIterableValueType: true
